/* Сперва общие правила */

* {
    box-sizing: border-box
}

/* Потом селекторы по тегам */

html {

}

main {
    width: 300px;
    margin: 0px auto;
}

p {
	line-height:1.5;
	margin-top: 35px;
	font-family: arial;
}

a {

}
h2 {
    margin: 20px 0px;
    padding: 5px 5x;
    font-size: 30px;
    font-family: arial;
}

a {

}

/* Колонки */

.row {
    display: flex;
}
.col {
    flex: auto;
}


/* Потом селекторы по классам */

.text-input {
    font-size: 15px;
    padding: 15x 15px;
    border: solid 1px DarkGrey;
    border-radius: 3px;
    height: 50px;
    margin: 10px 0px;
    width: 300px;
}

.button {
    font-size: 15px;
}

/* Потом специальные правила по страничкам */

/* Login*/

.input-login {
    display: block;
    margin: 20px 0px;
    border-radius: 4px;
    width: 300px;
    height: 50px;
    border: solid 1px DarkGrey;
    font-size: 15px;
    padding-left: 5px;
}

.button {
    width: 130px;
    height: 40px;
    background-color: #7B68EE;
    color: white;
    border-radius: 4px;
    border-width: 1px;
    border-color: #7B68EE;
    font-size: 15px;
}

/* Страничка жанров и тегов */

.genre-first {
    background-color: #E1F5EA;
    border-radius: 6px;
    margin: 10px 0px;
    padding: 5px 5px;
    }

.genre-second {
    background-color: #CBEDFF;
    border-radius: 6px;
    margin: 10px 0px;
    padding: 5px 5px;
    width: 70%;
}

.genre-third {
    background-color: #FFE4B5;
    border-radius: 6px;
    margin: 10px 0px;
    padding: 5px 5px;
    width: 50%;
}

.genre-fourth {
    background-color: #DDA0DD;
    border-radius: 6px;
    margin: 10px 0px;
    padding: 5px 5px;
    width: 30%;
}

.tag {
    font-family: serif;
    font-size:20px;
}

/* Страничка популярного */

.cover {
    padding: 10px 0px;
}


/* Страничка подписки  */

.box-green {

}

.box-purple {

}

.text-large {

}

.button-link {

}

h3 {
    font-family: arial;
    margin-top: 10px;
    margin-button: 100px;
}

.button-link {
    background-color: #7B68EE;
    color: white;
    border-radius: 4px;
    border-width: 1px;
    border-style:solid;
    border-color: #7B68EE;
    text-decoration: none;
    padding:10px 30px;
    margin-right:10px;

.d {
   font-size: 50px;
}